body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #eef;
}

.answers {
  padding-left: 0;
}
.answers li {
  list-style: none;
  padding: 5px;
  display: inline-block;
}

.question {
  border: 1px solid black;
  display: none;
}

.selected {
  background: skyblue;
}

.prompt {
  font-wight: bold;
}

.info {
  display: none;
}

.continue {
  display: none;
}

.endGame {
  display: none;
}

button {
  padding: 20px;
  margin: 5px;
  border-radius: 5%;
  background: #cfc;
  border: none;
}

button:focus {
  outline: 0;
}
